<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="userDB" connectionString="Server=20.41.81.89;database=mb_store;uid=bit;pwd=protec21"/>
    <!--<add name="userDB" connectionString="Server=192.168.0.132;database=mb_store;uid=bitex;pwd=protec21"/>-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>